// TYPOGRAPHY
$main-font: "Roboto","Helvetica Neue Light",sans-serif;
$code-font: "Roboto Mono", monospace;

// Z LEVELS
$z-level1: 0 12px 48px rgb(109 117 141 / 20%);

// COLOR PALETTE
$white: #FFF;
$black: #000;
$title-color: #2b2d38;


// BLOCKS
$full-block: 100%;
