* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

notebook-root, notebook-root > div.wrapper, body, html {
  height: $full-block;
}


a {
  text-decoration: none;
  color: inherit;
}

.wrap {
  padding: 0 30px;
}
